<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @documentation.title %>
</p>

<p>
  <b>Content:</b>
  <%= simple_format @documentation.content %>
</p>


<%= link_to 'Edit', edit_documentation_path(@documentation) %> |
<%= link_to 'Back', documentations_path %>
